h1{color: #EF247D;font-family: Gabriola; font-size: 80px;}
body{background-color: #F68AB9;}
p{color: #EF247D; font-family: Gabriola; font-size: 50px;}
ol{color: #EF247D; font-family: Gabriola; font-size:50px;}
a{color:##FEB0DE; font-family: Gabriola; font-size: 50px; }
a:hover{color:white;}
a:visited{color:#FF005C;}